:root {
    color: hsl(210,50%,96%);
    background-color: hsl(230,25%,18%);
    height: 100%;
    margin: 0;
}

body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.container-flexsplit {
    display: flex;
    flex-direction: row;
}

.container-flex {
    display: flex;
}

.container-padded {
    padding: 8px;
    border-right: rgb(61, 68, 100) thin solid;
}

.container-padded:empty {
    display: none !important;
}

.container-padded:last-of-type {
    border: none !important;
}

.gutter {
    background-color: rgb(61, 68, 100);
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    cursor: e-resize;
}

.gutter.gutter-vertical {
    cursor: n-resize;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

option {
    color: black;
}

#owlbearEmbed {
    height: 100%;
}

#characterSheets {
    background-color: white;
    overflow-y: scroll;
    overflow-x: scroll;
}

.tab {
    display: flex;
    height: 45px;
    min-width: max-content;
    position: fixed;
    z-index: 5;
}

.button {
    box-sizing: border-box;
    min-width: 0px;
    appearance: none;
    display: inline-block;
    text-align: center;
    line-height: inherit;
    text-decoration: none;
    font-size: inherit;
    padding: 4px 8px;
    border-image: initial;
    border-radius: 4px;
    color: var(--theme-ui-colors-text,hsl(210,50%,96%));
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-color: var(--theme-ui-colors-text,hsl(210,50%,96%));
    font-family: "Bree Serif", Georgia, serif;
    margin: 4px;
    cursor: pointer;
}

.mapControl {
    display: block;
    margin-left: 0;
}

.button-x {
    appearance: none;
    cursor: pointer;
    border: none;
    color: white;
    margin-left: auto;
    background: none;
    display: block;
}

.tab button {
    background-color: inherit;
    /*float: right;*/
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: hsl(210,50%,96%);
    border: solid 1px rgb(46, 51, 70);
    background-size: cover;
    background-color: rgb(46, 51, 70);
    display: inline-block;
    width: max-content;
}

.tab .halfed {
    background-color: inherit;
    /*float: right;*/
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    color: hsl(210,50%,96%);
    background-size: cover;
    background-color: rgb(46, 51, 70);
}

.halfed button{
    padding: 3px 16px;
    height: 50%;
    display: block;
    float: none;
    width: -webkit-fill-available;
    border: solid 1px rgb(46, 51, 70);
}

.halfed .half-bottom {
    border-top: none;
}

.tab button:hover {
    background-color: rgb(61, 68, 100);
}

.tab button.active {
    background-color: rgb(61, 68, 100);
    clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 12% 0%, 0% 30%);
}

.tabcontent {
    display: inline-block;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
}

.page {
    margin-left: auto;
    margin-right: auto;
}

#playerSelect {
    box-sizing: border-box;
    min-width: 0px;
    display: inline-block;
    text-align: center;
    line-height: inherit;
    text-decoration: none;
    font-size: inherit;
    padding: 4px 8px;
    border-image: initial;
    border-radius: 4px;
    color: var(--theme-ui-colors-text,hsl(210,50%,96%));
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-color: var(--theme-ui-colors-text,hsl(210,50%,96%));
    font-family: "Bree Serif", Georgia, serif;
    margin: 4px;
}

#playerSelectContainer {
    display: none;
}

#spellcasting, #characterDetails {
    display: none;
}

*::-webkit-scrollbar {
    width: 13px;
    height: 13px;
}

*::-webkit-scrollbar-track {
    background: white;
}

*::-webkit-scrollbar-thumb {
    background-color: #717171;
    border-radius: 50px;
    border: 3px solid white;
}

*::-webkit-scrollbar-corner {
    background: white;
}

.input-wrapper {
    position: unset;
}

.page {
    overflow: visible !important;
}

#p1 {
    overflow: visible !important;
}

.tooltip {
    position:absolute !important;
    
    top:50%;
    transform:translateY(-50%) !important;
    
    right:100% !important;
    margin-left: -340px !important;
    
    width:300px !important;
    height: min-content !important;
    padding:8px !important;
    border-radius:10px !important;
    background-color:hsl(230,25%,18%) !important;
    color: #ffffff !important;
    -webkit-text-fill-color: white !important;
    text-align:left !important;
  
    display:block !important;
    z-index: 4 !important;
    outline: none !important;

    overflow-y: scroll !important;
    overflow-x: hidden !important;
    max-height: 500px !important;
}

.tooltip-right {
    position: absolute !important;
    
    top: 50%;
    transform: translateY(-50%) !important;
    
    right: 100% !important;
    margin-left: 245px !important;
    
    width: 300px !important;
    height: min-content !important;
    padding: 8px !important;
    border-radius: 10px !important;
    background-color: hsl(230,25%,18%) !important;
    color: #ffffff !important;
    -webkit-text-fill-color: white !important;
    text-align: left !important;
  
    display: block !important;
    z-index: 4 !important;
    outline: none !important;

    overflow-y: scroll !important;
    overflow-x: hidden !important;
    max-height: 500px !important;
}

.tooltip::-webkit-scrollbar, .tooltip-right::-webkit-scrollbar {
    width: 13px;
    height: 13px;
}

.tooltip::-webkit-scrollbar-track, .tooltip-right::-webkit-scrollbar-track {
    background: hsl(230,25%,18%);
    border-radius: 20px;
}

.tooltip::-webkit-scrollbar-thumb, .tooltip-right::-webkit-scrollbar-thumb {
    background-color: #717171;
    border-radius: 20px;
    border: 3px solid hsl(230,25%,18%);
}

.tooltip::-webkit-scrollbar-corner, .tooltip-right::-webkit-scrollbar-corner {
    background: hsl(230,25%,18%);
}

.health-bar {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 200px;
    height: 20px;
    padding: 5px;

    background-color: rgb(61, 68, 100);

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
}

.bar {
    background: #c54;
    width: 100%;
    height: 10px;
    position: relative;
    
    transition: width .5s linear;
    overflow: hidden;
}
  
.hit {
    background: rgba(255,255,255,0.6);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0px;
    
    transition: width .5s linear;
}

.playerName {
    padding-right: 3px;
}